.single-product .product-thumbnails .owl-wrapper .img_badge{
display:none;
}
.woocommerce-cart .product-thumbnail .img_badge {
    display: none;
}
.cart_list .img_badge,
.item .phoe-badge .img_badge,
.related .img_badge,
.widget_recently_viewed_products .img_badge {
    display: none;
}

@media only screen and (max-width: 768px) {
			.phoe-badge .img_badge {
				background-position: right bottom !important;
				background-repeat: no-repeat !important;
				background-size: 50% 50% !important;
			}
		}	

.phoe-badge{
//  height:200px!important;
}
.products.grid.col-4 li.isotope-item .phoe-badge{
  height:200px!important;
}

.phoe-badge:before{
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.phoe-badge img {
  vertical-align: middle;
  display: inline-block;
}
